[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubefox = {file = ".", editable = true, path = "."}

[dev-packages]
kubefox = {file = ".", editable = true, path = ".", extras = ["dev"]}

[requires]
python_version = "3.12"
